doctype html
html
  head
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='favicon.ico')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='favicon.ico')
    title Projet POI
    link(rel='stylesheet', href='/style.css')
  body
    block content